services:
  db:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    command: >
      bash -c "
      chmod 600 /var/lib/postgresql/data/pg_hba.conf &&
      exec docker-entrypoint.sh postgres
      "
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  app:
    build: .
    ports:
      - '5001:5001'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres?schema=public
      - JWT_SECRET="secret123"
      - JWT_REFRESH_SECRET="refreshsecret123"
    restart: always
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: